---
import Main from '../../layouts/Main.astro';

const pageDetails = {
   title: 'Commission',
   description: 'A personal website of mine.',
   overrideTitle: false,
};
---

<Main pageDetails={pageDetails}>
   <br />
   <div class="wrapper readable">
      <div class="panel-border">
         <h3><a href="/commission/beat_saber">Beat Saber Custom Map</a></h3>
         <hr />
         <p>
            From the mapper with 4+ years mapping experience as top 100 <a
               href="https://beatsaver.com/profile/4285062">BeatSaver</a
            > mapper, <a href="https://scoresaber.com/u/76561198002258649"
               >3rd place of Building Block 2020</a
            > and <a href="https://bsaber.com/2022-beasties-winners-so-many-awards/"
               >Beasties runner-up</a
            >, you can request me to map your favourite song starting at 10USD up to 25USD per
            minute (per difficulty)!
         </p>
      </div>
      <br />
      <div class="panel-border">
         <h3><a href="/commission/slimevr">Unofficial DIY SlimeVR Tracker</a></h3>
         <hr />
         <p>
            <b>DISCONTINUED: only selling 3D printed case as a service now.</b><br />
            <br />
             Peninsular Malaysia only, DIY SlimeVR Tracker using MPU6500 IMUs starting at RM500 per
            set including elastic straps.
         </p>
      </div>
   </div>
</Main>

<style lang="scss"></style>
