---
import Main from '../../layouts/Main.astro';

const pageDetails = {
   title: 'Commission',
   description: 'A personal website of mine.',
   overrideTitle: false,
};
---

<Main pageDetails={pageDetails}>
   <br />
   <div class="wrapper readable">
      <div class="panel-border banner">
         <div class="banner-content text-shadow">
            <h3><a href="/commission/beat_saber">Beat Saber Custom Map</a></h3>
            <hr />
            <p>
               From the mapper with 6+ years mapping experience as top 100 <a
                  href="https://beatsaver.com/profile/4285062">BeatSaver</a
               > mapper, <a href="https://scoresaber.com/u/76561198002258649"
                  >1st place | Building Block 2025</a>, <a href="https://scoresaber.com/u/76561198002258649"> 3rd place | Building Block 2020</a
               > and <a href="https://bsaber.com/2022-beasties-winners-so-many-awards/"
                  >Beasties nominee & runner-up</a
               >, you can request me to map your favourite song starting at 10USD up to 20USD per
               minute (per difficulty)!
            </p>
         </div>
      </div>
   </div>
</Main>

<style lang="scss">
   .banner {
      padding: 0;
      background-image: url('/assets/img/commission-beat-saber.jpg');
      background-position: center;
      background-size: cover;
      background-color: #181820;
      .banner-content {
         padding: 0.5em 1em;
         border-radius: 0.5em;
         backdrop-filter: brightness(0.75) blur(8px);
      }
   }
</style>
