{
   "plugins": ["prettier-plugin-astro"],
   "overrides": [
      {
         "files": "*.astro",
         "options": {
            "parser": "astro"
         }
      }
   ],
   "semi": true,
   "singleQuote": true,
   "tabWidth": 3,
   "useTabs": false,
   "printWidth": 100
}
