:root {
    --width-site: 40em;
    --height-header: 12em;
    --height-footer: 8em;
}

body {
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #171717;
    color: #eee;
    margin-bottom: calc(var(--height-footer) + 4em);
}
a {
    text-decoration: none;
    color: #37f;
    transition: color ease 0.125s;
}
a:hover {
    color: #f00;
}
header {
    position: relative;
    width: 100%;
    height: var(--height-header);
    background-color: #23241e;
    transition: height 0.25s ease;
}
header img {
    position: absolute;
    width: inherit;
    height: inherit;
    object-fit: cover;
    overflow: hidden;
}
header h1 {
    position: absolute;
    top: 1em;
    left: -2em;
    font-size: 3em;
    font-weight: bold;
    text-shadow: -0.03215em 0.03215em 0.125em black;
    transition: 1s ease;
}
nav {
    width: var(--width-site);
    padding: 0.125em 6em;
    margin: 0.25em auto;
    background-image: linear-gradient(
        to right,
        #0000,
        #0007 10%,
        80%,
        #0007,
        #0000
    );
    transition: 1s ease;
}
nav ul {
    display: flex;
}
nav ul li {
    font-size: 1.25em;
    padding: 0.5em 0;
    transition: font-size 0.375s ease;
}
nav ul li a {
    padding: inherit;
    padding-left: 0.5em;
    padding-right: 0.5em;
    transition: background-color 0.25s ease;
}
nav ul li a:hover {
    background-color: #0003;
}
nav ul li a.active {
    background-color: #0005;
    color: #f00;
}
.header-title {
    position: relative;
    width: var(--width-site);
    margin: auto;
}
.header-bar {
    width: 100%;
    position: absolute;
    bottom: 0;
    overflow: hidden;
}
.panel-main {
    position: relative;
    width: var(--width-site);
    margin: 1em auto;
}
.panel-center {
    margin: auto;
    text-align: center;
}
.panel-inner {
    display: flex;
    width: 100%;
}
.panel-column {
    display: inline-block;
    width: 50%;
}
h2 {
    font-size: 2em;
    margin: 0.5em 0.25em;
}
h3 {
    font-size: 1.5em;
    margin: 0.375em 0;
}
h4 {
    font-size: 1.375em;
    margin: 0.25em 0;
}
h5 {
    font-size: 1.25em;
    margin: 0.125em 0;
}
strong {
    font-weight: bold;
}
section {
    width: 100%;
}
section img {
    width: inherit;
    box-shadow: 0 0.25em 0.5em black;
}
p {
    margin: 0.25em 0;
    line-height: 1.125em;
    text-align: justify;
}
.link-button {
    font-size: 1.125em;
    font-weight: bold;
    padding: 0.75em 0.75em;
    border: 0.125em solid #111;
    border-radius: 0.75em;
    background-color: #272727;
    transition: background-color 0.25s ease;
}
.link-button:hover {
    background-color: #333333;
}
.list li {
    margin: 0.625em 0;
    line-height: 1.25em;
    text-align: justify;
}
.list li::before {
    content: '\00BB';
    margin-right: 0.5em;
}
.cover {
    display: inline-block;
    width: 8em;
    height: 8em;
    margin: 0.5em;
    box-shadow: -0.25em 0.25em 0.5em black;
}
.metadata {
    display: inline-block;
    height: 8em;
    margin: 0.5em;
    vertical-align: top;
}
.map-link {
    float: left;
    vertical-align: bottom;
}
.song-name {
    font-size: 1.75em;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: var(--height-footer);
    padding-top: 1em;
    border-top: 0.125em solid #fff7;
    background-color: #070707dd;
    transition: background-color 0.25s ease;
}
footer:hover {
    background-color: #111e;
}
footer img {
    height: inherit;
    vertical-align: bottom;
}
footer span {
    position: absolute;
    bottom: 0;
    margin-bottom: 4em;
}
footer div {
    position: absolute;
    bottom: 1em;
    right: 1em;
}

@media only screen and (max-width: 875px) {
    header {
        width: auto;
        min-width: calc(640px + 2em);
        height: calc(var(--height-header) + 1em);
    }
    header img {
        width: 100%;
    }
    .panel-main {
        padding: 0 1em;
    }
    header h1 {
        left: 1em;
    }
    nav {
        padding: 0.125em 0;
    }
    nav ul {
        padding: 0 2em;
    }
    nav ul li {
        font-size: 1.625em;
        padding: 0.5em 0;
    }
}
