---
import Main from '../../../layouts/Main.astro';
import BeatmapList from '../../../components/commission/BeatmapList.svelte';
import {formatDate} from '../../../utils/date';
import Commission from '../../../data/commission.json';

const pageDetails = {
    title: 'Commission',
    subtitle: 'Beat Saber Custom Map',
    browserTitle: 'Beat Saber Commission',
    noSubtitle: true,
    description: 'Check the link for more info.',
    overrideTitle: false,
    overrideSubtitle: true,
}
---
<Main pageDetails={pageDetails}>
    <div class="banner">
        <div class="banner-content">
            <h3 class="text-shadow">Beat Saber Custom Map</h3>
        </div>
    </div>
    <section class="wrapper readable full-size">
        <p>
            I'm Kival Evan, as you may recognise the name from certain ranked maps, playlists, and other places.
            I have crafted plentiful of maps in various different ways, and mainly I'm more into mapping Touhou Project arrangement.
            Take a look at the maps I've made:-
        </p>
        <ul class="list-tag">
            <li><a href="#map-showcase">Showcase</a></li>
            <li><a href="https://beatsaver.com/uploader/5cff0b7798cc5a672c855af3">BeatSaver</a></li>
            <li><a href="https://bsaber.com/songs/new/?uploaded_by=kivalevan">BeastSaber</a></li>
            <li><a href="https://youtube.com/playlist?list=PLp4N5ZtOuDZlhdvoH1INSPn2Qn9zrD19b">Video Preview</a></li>
        </ul>
        <p>
            I value in making the map the best quality I could and as enjoyable as it can be, bringing high-grade assets to the map whenever possible.
        </p>
    </section>
    <section class="wrapper full-size">
        <h4 id="pricing">Pricing & Payment</h4>
        <br>
        <div class="panel-inner">
            <div class="panel-column panel-border">
                <table class="table-list">
                    <caption>Mapping Rate</caption>
                    <tr>
                        <th>$25</th>
                        <td>Expert+</td>
                    </tr>
                    <tr>
                        <th>$20</th>
                        <td>Expert</td>
                    </tr>
                    <tr>
                        <th>$18</th>
                        <td>Hard</td>
                    </tr>
                    <tr>
                        <th>$15</th>
                        <td>Normal</td>
                    </tr>
                    <tr>
                        <th>$10</th>
                        <td>Easy</td>
                    </tr>
                </table>
            </div>
            <div class="panel-column panel-border">
                <table class="table-list">
                    <caption>Lighting Rate</caption>
                    <tr>
                        <th>$35</th>
                        <td>Chroma Advanced</td>
                    </tr>
                    <tr>
                        <th>$25</th>
                        <td>Chroma Basic</td>
                    </tr>
                    <tr>
                        <th>$35</th>
                        <td>Vanilla (V3)</td>
                    </tr>
                    <tr>
                        <th>$20</th>
                        <td>Vanilla (V2)</td>
                    </tr>
                    <tr>
                        <th>Free</th>
                        <td>Lolighter (automated)</td>
                    </tr>
                </table>
            </div>
            <div class="panel-column panel-border">
                <table class="table-list">
                    <caption>Additional Bonus</caption>
                    <tr>
                        <th>Free</th>
                        <td>Difficulty Label</td>
                    </tr>
                    <tr>
                        <th>Free</th>
                        <td>Custom Colour</td>
                    </tr>
                    <tr>
                        <th>Free</th>
                        <td>Chroma Object</td>
                    </tr>
                    <tr>
                        <th>Free</th>
                        <td>Cinema Integration</td>
                    </tr>
                    <tr>
                        <th>Ask for price</th>
                        <td>Custom Environment</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="wrapper readable">
            <p>
                Pricing rate is based on price per minute.<br>
                Rounded to next nearest minute, halved price for closest to next half minute.
            </p>
            <div>
                <h5>Note:</h5>
                <ul class="list-arrow">
                    <li>
                        Additional bonus is free-of-charge but not a choice.
                        If I enjoy the song and the mapping allows for creativity, you may receive one of the listed bonus.
                        Alternatively, you may ask for it but cannot be guaranteed.
                        Custom environment may be used fittingly if existing available, otherwise new unique environment can be created depending on complexity with a price. 
                    </li>
                    <li>Rate may increase depending on the complexity of the song, difficulty in map creation, or if it contain multiple (complex) BPM changes.</li>
                </ul>
                <br>
                You may <a href="/commission/beat_saber/cost_estimator">estimate cost here</a> as I will be using this calculation, however pricing is subjected to change.
            </div>
            <br>
            <div>
                <p>
                    Payment made over PayPal with USD currency excluding tax. If there are other valid and trusted payment service/method, we can work out with it. Tips are appreciated.
                </p>
                Current payment option:
                <ul class="list-arrow">
                    <li>50% upfront, 50% upon delivery</li>
                    <li>100% upfront</li>
                </ul>
            </div>
        </div>
        <br>
    </section>
    <section class="wrapper full-size">
        <h4 id="enquiry">Enquiry</h4>
        <p class="wrapper readable">
            If you're interested in ordering a commission or have any question regarding the information, contact me
            on <span class="fake-link discord-popup" title="Kival Evan#5480">Discord</span>,
            <a href="https://twitter.com/Kival_Evan">Twitter</a>, or
            <a href="mailto:kivalevan@gmail.com">Email</a>.<br>
            <br>
            Please read <a href="#tnc">Terms & Conditions</a> for further information.<br>
            Once the order is made, you have accepted the Terms & Conditions.
        </p>
    </section>
    <section class="wrapper full-size">
        <h4 id="map-showcase">Map Showcase</h4>
        <BeatmapList client:load />
    </section>
    <section class="wrapper full-size">
        <h4 id="tnc">Terms & Conditions</h4>
        <div class="wrapper readable">
            <ul class="list-arrow">
                <li>I have the right to deny any commission.</li>
                <li>The map will be uploaded to my own BeatSaver account.</li>
                <li>Map will be released & uploaded as soon after completion and full payment made, but are allowed to
                    request scheduled release.</li>
                <li>Map released have a week of liability in case of the map is below satisfactory level or issues found
                    that mandate changes or fixes. No duration for game-breaking issues caused by the map.</li>
                <li>Song length depend on valid metadata if exist, otherwise use given source.</li>
                <li>Expected delivery time will be around 1-2 weeks but may vary depending on availability and option,
                    I'll keep in touch showcasing progress and other related detail, you are allowed to give feedback on
                    recent progress. Please do not spam or excessively remind me in short period of time.</li>
                <li>Lighting will take another considerable chunk of time. If you wish to receive the map sooner,
                    consider switching to Lolighter option. Payment will be refunded or discounted by lighting cost if
                    you swap the option.</li>
                <li>I have control of how I would map; this typically mean it will be high difficulty in mind.
                    You are free to suggest what you want in the map, including but not limited to specific difficulty, note pattern, etc.
                    However, It is not guaranteed to be applied and I have the right to refuse such that it involve bad mapping practice, against my mapping habit, or anything I disagree with.</li>
                <li>Additional detail such as difficulty label, custom colour, platform, etc is allowed and free of
                    charge. However, detail such as obscene text, similar coloured note, and other I
                    disagree or deemed inappropriate will be rejected.</li>
                <li>I may not accept nor take request outside product listed here (such as curation, playlist, advert,
                    etc), however it is negotiable.</li>
                <li>At any given time and reason, I may cancel the commission and you will receive full refund and
                    disclosure for cancellation.</li>
            </ul>
            <br>
            <span>Last updated: {formatDate('26 January 2022')}</span><br>
            <br>
            <span><strong>Note:</strong> Terms & Conditions is subjected to change; may not be applicable to existing order or enquiry depending on importance or severity.</span><br>
            <br>
        </div>
    </section>
</Main>

<style lang="scss">
    .banner {
        position: relative;
        display: flex;
        height: 12em;
        justify-content: center;
        align-items: center;
        background-image: url("/assets/img/commission-beat-saber.jpg");
        background-position: center;
        background-size: cover;
        background-color: #111;
        &-content {
            h3 {
                font-size: 1.75em;
                text-transform: uppercase;
                letter-spacing: 0.3125em;
                animation-duration: 1.2s;
                animation-timing-function: cubic-bezier(0.125,0,0,1);
                animation-name: explode;
                @keyframes explode {
                    from {
                        letter-spacing: -0.5em;
                    }
                    to {
                        letter-spacing: 0.3125em;
                    }
                }
            }
            position:relative;
            display: block;
            background-color: #0006;
            padding: 1em 2em;
            margin: 0 1em;
            backdrop-filter: blur(3px);
            &::before, &::after {
                content: '';
                position: absolute;
                height: 1.5em;
                width: 1.5em;
            }
            &::before {
                top: 0;
                left: 0;
                border-left: 0.0625em solid #ccc;
                border-top: 0.0625em solid #ccc;
            }
            &::after {
                bottom: 0;
                right: 0;
                border-right: 0.0625em solid #ccc;
                border-bottom: 0.0625em solid #ccc;
            }
        }
        &::before, &::after {
            content: '';
            position: absolute;
            height: 0;
            width: 84%;
            max-width: 76rem;
            min-width: 30rem;
        }
        &::before {
            top: 0.25em;
            border-top: 0.125em solid #8884;
        }
        &::after {
            bottom: 0.25em;
            border-bottom: 0.125em solid #8884;
        }
    }
    .list-tag {
        justify-content: center;
        li, a {
            font-size: 1.125rem;
            padding: 0.5em;
        }
    }
    h4 {
        padding-bottom: 0.3125em;
        border-bottom: 1px solid #fff;
    }
</style>
