---
import Main from '../../layouts/Main.astro';

const pageDetails = {
   title: 'Project',
   description: 'A personal website of mine.',
   overrideTitle: false,
};
---

<Main pageDetails={pageDetails}>
   <br />
   <div class="wrapper readable">
      <div class="panel-border">
         <h3><a href="/project/beat_saber">Beat Saber</a></h3>
         <hr />
         <p>
            Script module, web applications, map projects, and various related works for Beat Saber.
         </p>
      </div>
      <br />
      <div class="panel-border">
         <h3><a href="https://github.com/KivalEvan/AdventOfCode">Advent of Code</a></h3>
         <hr />
         <p>
            My solution for <a href="https://adventofcode.com/">Advent of Code</a> event throughout years
            using various of programming languages (TypeScript, C, Java, etc.). Challenged self to only
            use built-in or own library.
         </p>
      </div>
      <br />
      <div class="panel-border">
         <h3><a href="https://github.com/KivalEvan/CodeDump">Code Dump</a></h3>
         <hr />
         <p>
            Random code stuff I've written for anything that I felt needed to but no place for it.
            This can be LeetCode problems, quick fix script, and other stuff.
         </p>
      </div>
      <br />
      <div class="panel-border">
         <h3>
            <a href="https://github.com/KivalEvan/Homework-Assignment">Homework & Assignment</a>
         </h3>
         <hr />
         <p>
            Things I've written/made while under education. It may contain copyrighted content, but
            I'm lazy to check so it may get removed out of necessity in the future. FYP is not
            included as it is copyrighted and private under institution.
         </p>
      </div>
   </div>
</Main>

<style lang="scss"></style>
