---
import Main from '../../layouts/Main.astro';

const pageDetails = {
    title: 'Project',
    description: 'A personal website of mine.',
    overrideTitle: false,
}
---
<Main pageDetails={pageDetails}>
    <div class="wrapper readable">
        <h3><a href="/project/beat_saber">Beat Saber</a></h3>
        <p>
            Stuff I made for Beat Saber.
        </p>
        <h3>VRChat</h3>
        <p>
            There isn't much to show here.
        </p>
        <h3><a href="/project/homework_assignment">Homework & Assignment</a></h3>
        <p>
            Things I've written or made while under education.
        </p>
    </div>
</Main>

<style lang="scss">
</style>
