---
import Main from '../../layouts/Main.astro';

const pageDetails = {
   title: 'Project',
   description: 'A personal website of mine.',
   overrideTitle: false,
};
---

<Main pageDetails={pageDetails}>
   <br />
   <div class="wrapper readable">
      <div class="panel-border">
         <h3><a href="/project/beat_saber">Beat Saber</a></h3>
         <hr />
         <p>Stuff I made for Beat Saber.</p>
      </div>
      <br />
      <div class="panel-border">
         <h3>
            <a href="https://github.com/KivalEvan/Homework-Assignment">Homework & Assignment</a>
         </h3>
         <hr />
         <p>
            Things I've written or made while under education. It may contain copyrighted content,
            but I'm lazy to check so it may get removed out of necessity in the future.
         </p>
      </div>
      <br />
      <div class="panel-border">
         <h3><a href="https://github.com/KivalEvan/CodeDump">Code Dump</a></h3>
         <hr />
         <p>Some random stuff I wrote for events and stuff.</p>
      </div>
   </div>
</Main>

<style lang="scss"></style>
