---
import Main from '$layouts/Main.astro';
import BlogPostPreview from '$components/BlogPostPreview.astro';

const pageDetails = {
    title: 'Blog',
    description: 'A personal website of mine.',
    overrideTitle: false,
}

let allPosts = Astro.fetchContent('./post/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.publishDate) - new Date(a.publishDate));
---
<Main pageDetails={pageDetails}>
    <h2>{pageDetails.title}</h2>
    <hr>
    <section>
        {allPosts.map(p => <BlogPostPreview post={p} />)}
    </section>
</Main>
