@use './var' as *;

figure {
   text-align: center;
}

ul {
   list-style: none;
   text-align: justify;
   line-height: 1.375;
   margin-top: 0.25em;
   &.list-tag {
      display: flex;
      flex-wrap: wrap;
      li {
         padding: 0.25em;
         margin: 0.25em;
         border: 1px solid whitesmoke;
         border-radius: 0.5rem;
      }
   }
   &.list-arrow {
      li {
         &:not(:last-child) {
            margin-bottom: 0.5em;
         }
         &::before {
            content: '\00BB';
            margin-right: 0.5em;
         }
      }
   }
}

dl {
   dt {
      &:not(:first-child) {
         margin-top: 1em;
      }
   }
   dd {
      margin-left: 1em;
   }
}

table {
   width: 100%;
   &.table-list {
      text-align: left;
      caption {
         padding-bottom: 0.25em;
         border-bottom: 1px solid white;
         margin-bottom: 0.5em;
      }
      th {
         &::before {
            content: '\00BB';
            margin-right: 0.5em;
         }
      }
   }
}

.panel {
   &-center {
      margin: auto;
      text-align: center;
   }
   &-inner {
      display: flex;
      width: 100%;
      @media (max-width: $breakpoint-mobile) {
         display: block;
      }
   }
   &-column {
      width: 50%;
      vertical-align: top;
      @media (max-width: $breakpoint-mobile) {
         width: 100%;
      }
   }
   &-border {
      border: 1px solid white;
      border-radius: 0.5em;
      margin: 0 1em;
      padding: 0.5em 1em;
      @media (max-width: $breakpoint-mobile) {
         margin: 0.25em;
         padding: 0.25em 0.5em;
      }
   }
}

input {
   &[type='radio'],
   &[type='checkbox'] {
      width: 1.5em;
      height: 1.5em;
      margin: 0.25em;
      cursor: pointer;
   }
}

label {
   display: inline-block;
   padding-left: 0.5em;
   margin-left: -0.5em;
   margin-top: 0.125em;
   cursor: pointer;
   vertical-align: top;
}

.video {
   &-container {
      width: 100%;
      margin: auto;
      aspect-ratio: 16 / 9;
   }
   &-iframe {
      display: block;
      width: 100%;
      height: 100%;
      box-shadow: 0 0 0.125em black;
      background-color: #0006;
   }
}
