figure {
    text-align: center;
}

ul {
    list-style: none;
    text-align: justify;
    line-height: 1.25;
    &.list-tag {
        li {
            display: inline-block;
            padding: 0.25em;
            margin: 0.25em;
            border: 1px solid whitesmoke;
            border-radius: 0.5rem;
        }
    }
    &.list-arrow {
        li {
            &:not(:last-child) {
                margin-bottom: 0.5em;
            }
            &::before {
                content: '\00BB';
                margin-right: 0.5em;
            }
        }
    }
}

dl {
    dt {
        &:not(:first-child) {
            margin-top: 1em;
        }
    }
    dd {
        margin-left: 1em;
    }
}

.panel {
    &-center {
        margin: auto;
        text-align: center;
    }
    &-inner {
        display: flex;
        width: 100%;
    }
    &-input {
        width: 100%;
    }
    &-input input[type='checkbox'] {
        width: 1.5em;
        height: 1.5em;
        margin: 0.25em;
        cursor: pointer;
    }
    &-input label {
        display: inline-block;
        font-size: 1.0625rem;
        padding-left: 0.5em;
        margin-left: -0.5em;
        margin-top: 0.25em;
        cursor: pointer;
        vertical-align: top;
    }
    &-column {
        display: inline-block;
        width: 50%;
    }
}
