$wrapper-size: 80em;
$wrapper-readable-size: 50em;
$wrapper-padding: 2rem;

$breakpoint-mobile: 750px;
$breakpoint-widescreen: 1600px;

$background-color: #242428;
$background-translucent: #0006;

$color-primary: #242428;
$color-secondary: #fff;
$color-tertiary: #cc0c0c;
