---
import Main from '../../../layouts/Main.astro';

const pageDetails = {
   title: 'Project',
   subtitle: 'Beat Saber',
   description: 'A personal website of mine.',
   overrideTitle: false,
};
---

<Main pageDetails={pageDetails}>
   <div class="wrapper full-size">
      <hr />
      <br />
      <div class="wrapper readable">
         <div class="panel-border">
            <h3><a href="https://beatsaver.com/profile/4285062">Map Project</a></h3>
            <hr />
            <p>
               Published maps I've made for Beat Saber under BeatSaver. You may also <a
                  href="/commission/beat_saber/">commission me</a
               > to map your favourite song in Beat Saber.
            </p>
         </div>
         <br />
         <div class="panel-border">
            <h3><a href="https://github.com/KivalEvan/BeatSaber-EditorEnhanced">Editor Enhanced</a></h3>
            <hr />
            <p>Beat Saber mod to improve QOL experience in official editor.</p>
         </div>
         <br />
         <div class="panel-border">
            <h3><a href="https://github.com/KivalEvan/BeatSaber-Deno">BSMap</a></h3>
            <hr />
            <p>Beat Saber general-purpose mapping library using TypeScript.</p>
         </div>
         <br />
         <div class="panel-border">
            <h3><a href="https://kivalevan.github.io/BeatSaber-MapCheck/">Map Check</a></h3>
            <hr />
            <p>
               Client web application for extensive overview and checking of beatmap to help catch
               numerous kind of errors in beatmap. Powered by Vanilla JS and BSMap module.
            </p>
         </div>
         <br />
         <div class="panel-border">
            <h3>
               <a href="https://kivalevan.github.io/BeatSaber-MappingUtility/">Mapping Utility</a>
            </h3>
            <hr />
            <p>Simple web with plenty of useful utilities for use in mapping.</p>
         </div>
         <br />
         <div class="panel-border">
            <h3>
               <a href="https://github.com/KivalEvan/BeatSaber-MappingScript">Mapping Script</a>
            </h3>
            <hr />
            <p>Collection of my mapping scripts using TypeScript and BSMap.</p>
         </div>
         <br />
         <div class="panel-border">
            <h3>
               <a href="https://github.com/KivalEvan/ChroMapper-Selector"
                  >ChroMapper Selector Plugin
               </a>
            </h3>
            <hr />
            <p>Simple selection plugin for ChroMapper.</p>
         </div>
      </div>
      <br />
      <h3>Use & Permission</h3>
      <hr />
      <div class="wrapper readable">
         <h4>Beatmap</h4>
         <p>
            As long as my map has already been published under BeatSaver, you may freely use them
            for video promotion, or any other purpose. My light are free to use in your map as long
            as credit is given. You may also use the map itself for any purpose including machine
            learning, but preferably if you ask first beforehand. Any other thing such as 3D model,
            map script, etc. is allowed if and only when any of my map that uses them is publicly
            released on BeatSaver.
         </p>
         <h4>Code</h4>
         <p>
            Go ahead, just abide to licensing rule.
         </p>
      </div>
   </div>
</Main>

<style lang="scss"></style>
