---
import Main from '../../../layouts/Main.astro';

const pageDetails = {
   title: 'Project',
   subtitle: 'Beat Saber',
   description: 'A personal website of mine.',
   overrideTitle: false,
};
---

<Main pageDetails={pageDetails}>
   <div class="wrapper readable">
      <dl>
         <dt>
            <a href="https://kivalevan.github.io/BeatSaber-MapCheck/">Map Check</a>
         </dt>
         <dd>An extensive overview and error checking of beatmap</dd>

         <dt>
            <a href="https://github.com/KivalEvan/BeatSaber-Deno">Deno Library</a>
         </dt>
         <dd>Beat Saber mapping script library</dd>

         <dt>
            <a href="https://kivalevan.github.io/BeatSaber-MappingUtility/">Mapping Utility</a>
         </dt>
         <dd>Plenty of useful utilities for use in mapping</dd>

         <dt>
            <a href="https://github.com/KivalEvan/BeatSaber-MappingScript">Mapping Script</a>
         </dt>
         <dd>A collection of my mapping scripts</dd>

         <dt>
            <a href="https://beatsaver.com/profile/4285062">Map Project</a>
         </dt>
         <dd>Maps I've made, does not include collabs/GD</dd>

         <dt>
            <a href="https://github.com/KivalEvan/ChroMapper-Selector"
               >ChroMapper Selector Plugin
            </a>
         </dt>
         <dd>Extensive selection plugin for ChroMapper</dd>

         <dt>
            <a href="https://github.com/KivalEvan/ChroMapper-Lolighter"
               >ChroMapper Lolighter Plugin
            </a>
         </dt>
         <dd>Lolighter port to ChroMapper</dd>
      </dl>
      <br />
      <br />
      <div>
         <h4>Use & Permission</h4>
         <p>
            Most of my works were made for free in my free time. I do not mind if you want to use,
            modify, or redistribute my lighting, mapping, script, or any of my related work as long
            as it is not being used for ill-intent, disruptive, claiming, or anything that may put
            me into trouble. Credits are highly appreciated. If you wish to contribute to my work,
            you may go over on my <a href="https://github.com/KivalEvan">GitHub</a> or contact me
            personally via Twitter or Discord.
         </p>
      </div>
   </div>
</Main>

<style lang="scss"></style>
