---
import Main from '$layouts/Main.astro';
const pageDetails = {
    title: 'About',
    description: 'A personal website of mine.',
    overrideTitle: false,
}
---
<Main pageDetails={pageDetails}>
    <h2>{pageDetails.title} Me</h2>
    <hr>
    To be filled later.
</Main>

<style lang="scss">
</style>
