---
import Main from '../layouts/Main.astro';
import Avatar from '../components/Avatar.astro';

const pageDetails = {
   title: 'About',
   titleAdditional: 'Me',
   description: 'A personal website of mine.',
   overrideTitle: false,
};

const languages = ['JavaScript', 'TypeScript', 'C#', 'C++', 'C', 'Python', 'Go', 'Lua', 'Bash'];
const techs = [
   'Node.js',
   'Deno',
   'Astro',
   'SolidJS',
   'Svelte',
   'Qt',
   'Git',
   'MySQL',
   'Linux',
   'Blender',
   'Unity',
   'GitHub Actions',
];
const topics = [
   'Virtual Reality',
   'Game Development',
   '3D Modelling',
   'Machine Learning',
   'Electronic Engineering',
   'Low-level Programming',
];
---

<Main pageDetails={pageDetails}>
   <br />
   <section class="wrapper readable profile flex">
      <figure class="profile-avatar">
         <Avatar filePath="kival_evan.jpg" />
         <figcaption>
            Image by <a href="https://www.pixiv.net/en/users/1020785">まひる</a>
         </figcaption>
      </figure>
      <div class="profile-info">
         An undergraduate, computer science student<br />
         A lil VR-enthusiast<br />
         <br />
         Just doin things alone on my free time<br />
         Enjoys doin coding challenge<br />
         <br />
         <b>Age</b> :: <span id="age">25</span><br />
         <b>Birthday</b> :: June 10<br />
      </div>
   </section>
   <section class="wrapper full-size">
      <h3>Skills & Interests</h3>
      <hr />
      <div class="wrapper readable">
         <h4>Languages & Technologies:</h4>
         <ul class="list-tag">
            {[...languages, ...techs].map((e) => <li>{e}</li>)}
         </ul>
         <br />
         <h4>Topics:</h4>
         <ul class="list-tag">
            {topics.map((e) => <li>{e}</li>)}
         </ul>
         <p>
            List shown here does not say about my proficiency, just something I'm familiar with as
            I've used them or did something related for certain purpose.
         </p>
      </div>
   </section>
   <br />
   <section class="wrapper">
      <h3>Stuff I'm using</h3>
      <hr />
      <div class="wrapper readable">
         <div class="panel-inner">
            <div class="panel-column">
               <div class="panel-border">
                  <h4>PC Setup</h4>
                  <hr />
                  <ul class="list-arrow">
                     <li>Intel Core i9-12900K</li>
                     <li>Lenovo RTX 3080</li>
                     <li>Kingston FURY Beast 2x16GB 5600MHz CL36 DDR5</li>
                     <li>ASRock B760M PG SONIC WiFi</li>
                     <li>Arch Linux + Windows 10 Dual Boot</li>
                  </ul>
               </div>
               <br />
               <div class="panel-border">
                  <h4>VR Setup</h4>
                  <hr />
                  <ul class="list-arrow">
                     <li>PlayStation VR2</li>
                     <li>PlayStation VR2 Sense Controller Charging Station</li>
                     <li>Aolion For PSVR2 PC Adapter</li>
                     <li>Project Babble DIY</li>
                     <li>SlimeVR DIY BMI160 (8+3)</li>
                  </ul>
               </div>
            </div>
            <br />
            <div class="panel-column">
               <div class="panel-border">
                  <h4>Peripherals</h4>
                  <hr />
                  <ul class="list-arrow">
                     <li>AOC 24" Gaming 24G2SP</li>
                     <li>LG 29" UltraWide FHD 29WQ600-W</li>
                     <li>Dell 24" UltraSharp U2412M</li>
                     <li>Audio-Technica ATH-M40x</li>
                     <li>Ducky One 2 Tuxedo Full Size</li>
                     <li>Logitech G502 Hero</li>
                     <li>HyperX FURY S PRO Speed Edition XL</li>
                     <li>Logitech C922 Pro Stream</li>
                     <li>Keychron K3 V2</li>
                  </ul>
               </div>
               <br />
               <div class="panel-border">
                  <h4>Others</h4>
                  <hr />
                  <ul class="list-arrow">
                     <li>Samsung Galaxy S22+</li>
                     <li>Artillery Sidewinder X2</li>
                     <li>2x Tesco Banquet Table</li>
                  </ul>
               </div>
            </div>
         </div>
         <p>Will get updated over time as I get new toys and stuff.</p>
      </div>
   </section>
</Main>

<style lang="scss">
   .profile {
      &-avatar {
         width: clamp(10rem, 20vw, 12rem);
      }

      &-info {
         width: 100%;
         padding: 0.25em 1em;
      }
   }
</style>

<script>
   const c = new Date();
   const t = c.getFullYear() - new Date('1999-06-10').getFullYear();
   document.getElementById('age')!.innerText = (
      c.getMonth() >= 5 && !(c.getMonth() <= 5 && c.getDate() < 10) ? t : t - 1
   ).toString();
</script>
