---
import Main from '../layouts/Main.astro';
const pageName = 'About';
---
<Main currPage={pageName}>
    <h2>{pageName} Me</h2>
    <hr>
    To be filled later.
</Main>

<style lang="scss">
</style>
