---
import Main from '../layouts/Main.astro';
const pageName = 'Guide';
---
<Main>
    <div class="wrapper readable">
        <h2>Guide</h2>
        There is no guide available right now but I do plan to make one hopefully.
    </div>
</Main>
