---
import Main from '../layouts/Main.astro';
const pageName = 'Guide';
---
<Main currPage={pageName}>
    <h2>{pageName}</h2>
    <hr>
    There is no guide available right now but I do plan to make one hopefully.<br>
    Or probably turn it into blog, one of the two.
</Main>

<style lang="scss">
</style>
