---
import BaseLayout from '../layouts/BaseLayout.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import BackgroundImage from '../components/BackgroundImage.astro';
import FeaturedVideo from '../components/FeaturedVideo.astro';
---
<BaseLayout>
    <div class="full-page">
        <BackgroundImage src="/assets/img/bg/background.jpg" mask=true />
        <header>
            <div class="flex">
                <div class="flex-item">
                    <h1 class="text-shadow">Kival Evan</h1>
                    <p class="text-shadow">
                        An undergraduate, computer science student.<br>
                        Learning as I develop new things.
                    </p>
                    <p class="text-shadow">
                        <br>
                        I'm a Beat Saber player and a mapper.<br>
                        I create the tools and scripts for mapping.
                    </p>
                </div>
                <div class="flex-item2">      
                    <div class="video">
                        <FeaturedVideo />
                    </div>
                </div>
            </div>
        </header>
        <div class="nav">
            <Nav />
        </div>
        <Footer />
    </div>
</BaseLayout>

<style lang="scss">
    @use '../../public/styles/_var' as *;

    header {
        width: 100%;
        max-width: 100em;
        padding-top: 1rem;
        padding-left: 4em;
        padding-right: 4em;
        margin-left: auto;
        margin-right: auto;
        @media (max-width: $breakpoint-mobile) {
            padding-left: 1em;
            padding-right: 1em;
        }
    }
    .flex {
        display: flex;
        width: 100%;
        flex-direction: row;
        @media (max-width: $breakpoint-widescreen) {
            flex-direction: column;
        }
        &-item {
            display: flex;
            flex-direction: column;
            width: 50%;
            @media (max-width: $breakpoint-widescreen) {
                width: 100%;
            }
        }
        &-item2 {
            @extend .flex-item;
            align-items: center;
        }
    }
    .video {
        width: 90%;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        @media (max-width: $breakpoint-widescreen) {
            width: 100%;
            max-width: calc(#{$breakpoint-widescreen} / 2);
        }
    }
    .nav {
        width: 100%;
        margin-top: auto;
        margin-bottom: 3em;
        background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.375) 10%, rgba(0,0,0,0.375) 90%, rgba(0,0,0,0));
    }
    h1 {
        @media (max-width: $breakpoint-widescreen) {
            text-align: center;
        }
    }
    p {
        font-size: 2rem;
        white-space: nowrap;
        @media (max-width: $breakpoint-widescreen) {
            text-align: center;
        }
        @media (max-width: $breakpoint-mobile) {
            font-size: 1.5rem;
            white-space: unset;
        }
    }
</style>
