---
import BaseLayout from '$layouts/BaseLayout.astro';
import Nav from '$components/Nav.astro';
import Footer from '$components/Footer.astro';
import BackgroundImage from '$components/BackgroundImage.astro';
import FeaturedVideo from '$components/FeaturedVideo.astro';

const pageDetails = {
    title: 'Kival Evan',
    description: 'A personal website of mine.',
    overrideTitle: true,
}
---
<BaseLayout pageDetails={pageDetails}>
    <div class="full-page">
        <BackgroundImage src="/assets/img/bg/background.jpg" mask=true />
        <header>
            <div class="flex">
                <div class="flex-item">
                    <h1 class="text-shadow">Kival Evan</h1>
                    <div class="nav-mobile">
                        <Nav />
                    </div>
                    <p class="text-shadow">
                        I'm an undergraduate, computer science student<br>
                        Learning as I develop new things<br>
                        <br>
                        I'm a Beat Saber player and a mapper<br>
                        Created the tools and scripts for mapping
                    </p>
                </div>
                <div class="flex-item2">      
                    <div class="video">
                        <FeaturedVideo />
                    </div>
                </div>
            </div>
        </header>
        <div class="nav">
            <Nav />
        </div>
        <Footer />
    </div>
</BaseLayout>

<style lang="scss">
    @use '../styles/_var' as *;

    header {
        width: 100%;
        max-width: 100em;
        padding-left: 4em;
        padding-right: 4em;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        @media (max-width: $breakpoint-mobile) {
            padding-left: 1em;
            padding-right: 1em;
        }
    }
    .flex {
        display: flex;
        width: 100%;
        flex-direction: row;
        @media (max-width: $breakpoint-widescreen) {
            flex-direction: column;
        }
        &-item {
            display: flex;
            flex-direction: column;
            width: 50%;
            @media (max-width: $breakpoint-widescreen) {
                width: 100%;
            }
        }
        &-item2 {
            @extend .flex-item;
            align-items: center;
        }
    }
    .video {
        width: 90%;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        @media (max-width: $breakpoint-widescreen) {
            max-width: calc(#{$breakpoint-widescreen} / 2);
        }
    }
    .nav {
        width: 100%;
        margin-top: auto;
        margin-bottom: 3em;
        background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.375) 10%, rgba(0,0,0,0.375) 90%, rgba(0,0,0,0));
        @media (max-width: $breakpoint-widescreen) {
            display: none;
        }
        @at-root .nav-mobile {
            @extend .nav;
            margin-top: 0;
            margin-bottom: 1.5em;
            @media (min-width: $breakpoint-widescreen) {
                display: none;
            }
            @media (max-width: $breakpoint-widescreen) {
                display: block;
            }
        }
    }
    h1 {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        @media (max-width: $breakpoint-widescreen) {
            text-align: center;
        }
    }
    p {
        font-size: 1.75rem;
        @media (max-width: $breakpoint-widescreen) {
            text-align: center;
        }
        @media (max-width: $breakpoint-mobile) {
            font-size: 1.25rem;
        }
    }
</style>
