---
import BaseLayout from '../layouts/BaseLayout.astro';
import BackgroundImage from '../components/BackgroundImage.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FeaturedVideo from '../components/FeaturedVideo.svelte';

const pageDetails = {
   title: 'Kival Evan',
   description: 'A personal website of mine.',
   overrideTitle: true,
};
---

<BaseLayout pageDetails={pageDetails}>
   <div class="full-page">
      <BackgroundImage src={'../assets/img/bg/background.jpg'} mask={true} />
      <Header pageDetails={pageDetails} />
      <main transition:name="main" transition:animate="fade">
         <div class="flex">
            <div class="flex-item wrapper">
               <p class="text-shadow">
                  I am a software engineer and a lil tech enthusiast, learning as I find and develop
                  more new things. I am also a Beat Saber player and a mapper for it, contributing
                  tools, scripts and OSS for mapping. Currently exploring different fields to find
                  comfort in my capability.
               </p>
            </div>
            <div class="flex-item2">
               <div class="video">
                  <FeaturedVideo client:load />
               </div>
            </div>
         </div>
      </main>
      <Footer />
   </div>
</BaseLayout>

<style lang="scss">
   @use '../styles/_var' as *;

   main {
      width: 100%;
      max-width: 100em;
      padding-left: 4em;
      padding-right: 4em;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: auto;
      @media (max-width: $breakpoint-widescreen) {
         padding-left: 0;
         padding-right: 0;
      }
   }
   .flex {
      display: flex;
      width: 100%;
      flex-direction: row;
      @media (max-width: $breakpoint-widescreen) {
         flex-direction: column;
      }
      &-item {
         display: flex;
         flex-direction: column;
         width: 50%;
         @media (max-width: $breakpoint-widescreen) {
            width: 100%;
         }
      }
      &-item2 {
         @extend .flex-item;
         align-items: center;
      }
   }
   .video {
      width: 90%;
      margin-top: 1.5em;
      margin-bottom: 1.5em;
      @media (max-width: $breakpoint-widescreen) {
         max-width: calc(#{$breakpoint-widescreen} / 2);
      }
   }
   h1 {
      margin-top: 0rem;
      margin-bottom: 0.25rem;
      text-align: center;
   }
   p {
      position: relative;
      font-size: 1.375rem;
      padding: 0.75em 1.5em;
      background-color: $background-translucent;
      &::before,
      &::after {
         content: '';
         position: absolute;
         height: 1em;
         width: 1em;
      }
      &::before {
         top: 0.375em;
         left: 0.375em;
         border-left: 0.0625em solid #ccc;
         border-top: 0.0625em solid #ccc;
      }
      &::after {
         bottom: 0.375em;
         right: 0.375em;
         border-right: 0.0625em solid #ccc;
         border-bottom: 0.0625em solid #ccc;
      }
      @media (max-width: $breakpoint-widescreen) {
         text-align: center;
      }
      @media (max-width: $breakpoint-mobile) {
         font-size: 1.25rem;
      }
   }
</style>
