---
import Main from '$layouts/Main.astro';
const pageDetails = {
    title: 'Project',
    description: 'A personal website of mine.',
    overrideTitle: false,
}
---
<Main pageDetails={pageDetails}>
    <h2>{pageDetails.title}</h2>
    <hr>
    <h3>Beat Saber</h3>
    <dl>
        <dt><a href="https://kivalevan.github.io/BeatSaber-MapCheck/">Map Check</a></dt>
        <dd>An extensive overview of map.</dd>

        <dt><a href="https://kivalevan.github.io/BeatSaber-MappingUtility/">Mapping Utility</a></dt>
        <dd>Plenty of useful utilities for use in mapping.</dd>

        <dt><a href="https://kivalevan.github.io/BeatSaber-MapCheck/">ChroMapper Script</a></dt>
        <dd>A collection of my ChroMapper scripts.</dd>

        <dt><a href="https://beatsaver.com/uploader/5cff0b7798cc5a672c855af3">Map Project</a></dt>
        <dd>Maps I've made, does not include collabs/GD.</dd>
    </dl>
    <hr>
    <h3>VRChat</h3>
    <p>
        There isn't much to show here.
    </p>
    <hr>
    <h3>Assignment</h3>
    <p>
        Homework and assignment stuff, I posted them here just because.<br>
        I hold no responsibility for anythin' that went wrong.
    </p>
    <a href="https://github.com/KivalEvan/CPU-Scheduling-Simulation">CPU Scheduling Simulation</a><br>
</Main>

<style lang="scss">
</style>
