---
import _featuredVideo from '../data/featuredVideo.json';
interface FeaturedVideo {
    [key: number]: {
        title: string;
        subtitle: string;
        description: string;
        src: string;
    }
}
const featuredVideo = _featuredVideo as FeaturedVideo;

let title!: string, subtitle!: string, description!: string, src!: string, uploadDate!: string;
for (const vid of featuredVideo) {
    title = vid.title;
    subtitle = vid.subtitle;
    description = vid.description;
    src = vid.src;
}
---
<div class="video-container">
    <iframe class="video-iframe" src={src} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<span class="title text-shadow">{title}</span><br>
<span class="subtitle text-shadow">{subtitle}</span><br>
<p class="description text-shadow">{description}</p>

<style lang="scss">
    .video {
        &-container {
            width: 100%;
            margin: auto;
            aspect-ratio: 16 / 9;
        }
        &-iframe {
            display: block;
            width: 100%;
            height: 100%;
            box-shadow: 0 0 1em black;
        }
    }
    .title {
        font-size: 2.5rem;
        color: white;
    }
    .subtitle {
        font-size: 1.75rem;
        color: white;
    }
    .description {
        font-size: 1.25rem;
        color: white;
    }
</style>
