---
const date = new Date();
const monthName = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
const lastUpdated = `${date.getUTCDate()} ${monthName[date.getMonth()]} ${date.getFullYear()}`;
---
<footer>
    <div class="wrapper readable footer flex">
        <div class="flex-item">
            <a href="https://github.com/KivalEvan/">Github</a>
            <a href="https://steamcommunity.com/id/KivalEvan/">Steam</a>
            <a href="https://www.youtube.com/channel/UC5pOhteTPou4iA8bNaEx3IA">Youtube</a>
            <a href="https://www.twitch.tv/kivalevan">Twitch</a>
            <a href="https://twitter.com/Kival_Evan">Twitter</a>
            <a class="discord-popup" title="Kival Evan#5480" href="#">Discord</a>
        </div>
        <div class="flex-item2">
            <a class="ko-fi" href='https://ko-fi.com/I3I620UNJ' rel="noopener" target='_blank'>
                <img height='36' style='border:0px;height:36px;' src='https://cdn.ko-fi.com/cdn/kofi3.png?v=2' border='0' alt='Buy Me a Coffee at ko-fi.com' />
            </a>
        </div>
        <span>Last Updated: {lastUpdated}</span>
    </div>
</footer>

<style lang="scss">
    footer {
        position: relative;
        margin-top: auto;
        background-color: #0008;
    }
    .footer {
        font-size: 1.25em;
        padding-top: 1em;
        padding-bottom: 1.5em;
        overflow: hidden;
    }
    .flex {
        display: flex;
        flex-direction: row;
        &-item {
            display: flex;
            width: calc(100% / 1.5);
            justify-content: space-evenly;
            align-items: center;
        }
        &-item2 {
            display: flex;
            width: calc(100% / 3);
            justify-content: space-evenly;
            align-items: center;
        }
    }
    span {
        position: absolute;
        font-size: 0.75rem;
        bottom: 0.5em;
        right: 0.5em;
    }
    .ko-fi {
        img {
            transition: filter 0.2s ease, transform 0.5s ease;
        }
        &:hover img {
            filter: brightness(0.8) contrast(150%);
            transform: scale(1.1, 1.1)
        }
    }
</style>
