---
import Nav from './Nav.astro';
const { currPage } = Astro.props;
---
<header>
    <h1 class="text-shadow"><a href="/">Kival Evan</a></h1>
    <div class="container">
        <Nav currPage={currPage} />
    </div>
</header>

<style lang="scss">
    $width-phone: 750px;
    $width-widescreen: 1600px;

    .container {
        width: 100%;
        background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.375) 10%, rgba(0,0,0,0.375) 90%, rgba(0,0,0,0));
    }
    header {
        background-image: url("/assets/img/bg/header.jpg");
        background-position: center;
        background-size: cover;
        background-color: #ede0dc;
    }
    h1 {
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        a {
            color: white;
        }
        @media (max-width: $width-phone) {
            font-size: 4rem;
        }
    }
</style>
