---
import Main from '../../../layouts/Main.astro';

const pageDetails = {
    title: 'Project',
    subtitle: 'Homework & Assignment',
    description: 'A personal website of mine.',
    overrideTitle: false,
}
---
<Main pageDetails={pageDetails}>
    <div class="wrapper readable">
        <p>
            I posted them here just because. <a href="https://github.com/KivalEvan/Homework-Assignment">GitHub link</a>
        </p>
    </div>
</Main>

<style lang="scss">
</style>
