---
import BaseHead from '../components/BaseHead.astro';
---
<!DOCTYPE html>
<html lang="en">
<BaseHead title="Kival Evan" description="hi" permalink="https://www.kivalevan.me/"/>
<body>
    <slot></slot>
</body>
</html>
