---
import Head from '../components/Head.astro';

export interface PageDetails {
   title: string;
   subtitle?: string;
   browserTitle?: string;
   description?: string;
   overrideTitle?: boolean;
}

export interface Props {
   pageDetails: PageDetails;
}

const { pageDetails } = Astro.props as Props;
const { title, description, browserTitle, overrideTitle } = pageDetails;
const headTitle = overrideTitle
   ? title
   : 'Kival Evan' + (title ? ` | ${browserTitle ? browserTitle : title}` : '');
---

<!DOCTYPE html>
<html lang="en">
   <Head title={headTitle} description={description} />
   <body id="top-of-page">
      <slot />
   </body>
</html>
