---
import BaseHead from '../components/BaseHead.astro';

const { currPage, description } = Astro.props;
const title = "Kival Evan" + (currPage ? ` | ${currPage}` : "");
---
<!DOCTYPE html>
<html lang="en">
<BaseHead title={title} description={description}/>
<body>
    <slot></slot>
</body>
</html>
