---
import BaseHead from '$components/BaseHead.astro';

export interface PageDetails {
    title: string;
    description: string;
    overrideTitle: boolean;
}

export interface Props {
    pageDetails: PageDetails;
}

const { pageDetails } = Astro.props as Props;
const { title, description, overrideTitle } = pageDetails;
const headTitle = overrideTitle ? title : "Kival Evan" + (title ? ` | ${title}` : "");
---
<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead title={headTitle} description={description}/>
</head>
<body>
    <slot />
</body>
</html>
