---
import BaseLayout from './BaseLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BackToTopButton from '../components/BackToTopButton.astro';

export interface PageDetails {
   title: string;
   titleAdditional?: string;
   subtitle?: string;
   browserTitle?: string;
   noSubtitle?: boolean;
   description: string;
   overrideTitle?: boolean;
}

export interface Props {
   pageDetails: PageDetails;
}

const { pageDetails } = Astro.props as Props;
---

<BaseLayout pageDetails={pageDetails}>
   <div class="full-page" id="top-of-page">
      <Header pageDetails={pageDetails} />
      <main transition:name="main" transition:animate="fade">
         {
            pageDetails.subtitle && !pageDetails.noSubtitle ? (
               <div class="wrapper readable">
                  <h3>{pageDetails.subtitle}</h3>
               </div>
            ) : null
         }
         <slot />
      </main>
      <BackToTopButton />
      <Footer />
   </div>
</BaseLayout>
