---
import BaseLayout from './BaseLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BackToTopButton from '../components/BackToTopButton.astro';

const { currPage, description } = Astro.props;
---
<BaseLayout currPage={currPage} description={description}>
    <div class="full-page">
        <Header currPage={currPage} />
        <main class="wrapper readable full-size">
            <slot></slot>
        </main>
        <BackToTopButton />
        <Footer />
    </div>
</BaseLayout>
