---
import BaseLayout from './BaseLayout.astro';
import Header from '$components/Header.astro';
import Footer from '$components/Footer.astro';
import BackToTopButton from '$components/BackToTopButton.astro';

export interface Props {
    pageDetails: PageDetails;
}

const { pageDetails } = Astro.props as Props;
---
<BaseLayout pageDetails={pageDetails}>
    <div class="full-page">
        <Header pageDetails={pageDetails} />
        <main class="wrapper readable full-size">
            <slot />
        </main>
        <BackToTopButton />
        <Footer />
    </div>
</BaseLayout>
