@use './var' as *;
@use 'sass:math';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    color: #fff;
    background-color: #282830;
}

hr {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.wrapper {
    max-width: $wrapper-size;
    margin-left: auto;
    margin-right: auto;
    padding-left: $wrapper-padding;
    padding-right: $wrapper-padding;
    &.readable {
        max-width: $wrapper-readable-size;
    }
    &.full-size {
        width: 100%;
    }
    @media (max-width: $breakpoint-mobile) {
        padding-left: math.div($wrapper-padding, 3);
        padding-right: math.div($wrapper-padding, 3);
    }
}

.full-page {
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    align-items: stretch;
}
