@use './var' as *;

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    color: #fff;
    background-color: #282830;
}

.wrapper {
    max-width: $wrapper-size;
    margin-left: auto;
    margin-right: auto;
    padding-left: $wrapper-padding;
    padding-right: $wrapper-padding;
    &.readable {
        max-width: $wrapper-readable-size;
    }
    &.full-size {
        width: 100%;
    }
    @media (max-width: $breakpoint-mobile) {
        padding-left: #{$wrapper-padding} / 2;
        padding-right: #{$wrapper-padding} / 2;
    }
}

.full-page {
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    align-items: stretch;
}
